<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">

    <bean id="application" class="testingxml.Application">
        <property name="marshaller" ref="jaxb2Marshaller"/>
        <property name="unmarshaller" ref="jaxb2Marshaller"/>
    </bean>
    <bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller"/>

    <!-- Create JAXB marshaller bean with the OXM framework -->

    <oxm:jaxb2-marshaller id="jaxb2Marshaller">
        <oxm:class-to-be-bound
                name="no.geonorge.skjema.sosi.produktspesifikasjon.Arealressurs_45.ArealressursFlateType"/>
    </oxm:jaxb2-marshaller>

    <!--
        <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
            <property name="classesToBeBound">
                <list>
                    <value>no.geonorge.skjema.sosi.produktspesifikasjon.Arealressurs_45.ArealressursFlateType
                    </value>
                </list>
            </property>
            <property name="schema" value="classpath:/FKB_AR5.xsd"/>
        </bean>
    -->




</beans>
